
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  text-align: center;
}

.titulo{
  margin-top: 20px;
  color: #0c326f;
  font-family: "Montserrat", sans-serif;
}

.texto{
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  color: #555;
}
